@import "./variables.scss";

html, body{

	// for lg
	@media screen and (min-width: $lglb) {
		width: 100%;
		height: 100%;
	}
}

// [body]
body{
	background-image: url(../../images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center bottom;

	transition: 1s padding-top;

	// for nav animation, for sm and md
	// @media screen and (max-width: 1280px){
	// 	&.fatPadding{
	// 		padding: 300px 0 0 0;
	// 	}
	// }

	// for w lg
	@media screen and (min-width: $lglb) {
		background-position: center bottom;
		padding: 50px calc(50% - 590px) 0px;

		position: relative;
	}

	
}
