@import "~breakpoint-sass/stylesheets/_breakpoint.scss";

html, body{

	@include breakpoint(1280px){
		width: 100%;
		height: 100%;
	}
}

// [body]
body{
	background-image: url(../../images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center bottom;

	// for w <= 480px
	@media screen and (max-width: 480px){
		background-color: #fff;
	}

	// for 480 < w < 1280
	@media screen and (min-width: 1281px) {
		background-position: center bottom;
		padding: 50px calc(50% - 590px) 0px;

		position: relative;
	}

	
}
