@import "~breakpoint-sass/stylesheets/_breakpoint.scss";

#cvpart{
	width: 80%;

	margin: 0 auto;

	@media screen and (min-width: 1281px){ 
		width: 810px;

		display: inline-block;
		float: right;
	
		background-color: rgba(#ddd, 0.3);
		background-image: url("http://www.transparenttextures.com/patterns/clean-gray-paper.png"), url("http://www.transparenttextures.com/patterns/clean-gray-paper.png"),url("http://www.transparenttextures.com/patterns/clean-gray-paper.png");
		opacity: 1;

		z-index: -1;
	}
}