@import './variables.scss';

#cvpart{
	width: 80%;

	margin: 0 auto;

	// for lg
	@media screen and (min-width: $lglb){ 
		width: 810px;

		display: inline-block;
		float: right;
	
		background-color: rgba(#ddd, 0.95);

		background-image: url("http://www.transparenttextures.com/patterns/always-grey.png");
		background-size: 20px 20px;

		opacity: 1;
	}
}