@import "~breakpoint-sass/stylesheets/_breakpoint.scss";

footer{

	// common
	color: white;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: 14px;

	text-align: center;
	margin-top: 100px;
	padding: 10px 0;
	border-top: 1px solid #999;

	background-color: rgba(#fff, 0.15);
	
	// for w > 1280px
	@media screen and (min-width: 1281px){
		width: 300px;

		position: fixed;
		bottom: 0;
		
		border-top: 1px solid rgba(#fff, 0.25);
		background-color: rgba(#fff, 0.05);
	}
}