@import "~breakpoint-sass/stylesheets/_breakpoint.scss";


.infoBlock{
	//commons
	padding: 20px 10px;

	border-radius: 10px;

	position: relative;

	font-family: 'Libre Baskerville', serif;

	color: #090909;
	overflow: hidden;

	transition: 0.9s opacity;

	&.start{
		opacity: 0;
	}	

	// for w < 1280px
	margin: 0 0 25px 0;

	// for w > 1280px
	@media screen and (min-width: 1281px){
		padding: 40px;

		width: 395px;
		float: left;
		margin: 0 15px 20px 0;

		&:nth-child(2n){
			margin-right: 0;
		}
	}
}

.infoBlock_bgBlock{

	// for w <= 1280px
	@media screen and (max-width: 1280px){	
		width: 100%;
		height: 3000px;

		position: absolute;
		top: 0;
		left: 0;

		z-index: -1;

		background-color: rgba(#ddd, 0.3);
		background-image: url("http://www.transparenttextures.com/patterns/clean-gray-paper.png"), url("http://www.transparenttextures.com/patterns/clean-gray-paper.png"),url("http://www.transparenttextures.com/patterns/clean-gray-paper.png");
		opacity: 1;
	}
}

.itemTitle{
	text-align: center;
	font-weight: bold;
	line-height: 1.4;

	cursor: pointer;

	// postcss rucksack
	font-size: responsive 20px 28px;
	font-range: 320px 780px;

	@media screen and (min-width: 1281px){
		font-size: 24px;
	}
}

.itemContent{
	display: block;

	padding: 10px 0 0 0;
	margin: 10px 0 0 0;

	box-sizing: border-box;

	overflow: hidden;
	border-top: 5px double rgba(white, 0.4);
	
	// postcss rucksack
	font-size: responsive 16px 20px;
	font-range: 320px 780px;

	line-height: 1.4;

	@media screen and (min-width: 1281px){
		font-size: 18px;
	}

	ul{
		padding-left: 30px;
		list-style-type: square;
	}

	li{
		margin: 0 0 12px;
	}

	.workname{
		font-size: 110%;
		color: #000;
		font-weight: 900;
		text-shadow: 1px 1px 3px #fff;
	}

	.worklinktext{
		// width: 70%;

		margin: 5px 0 30px;
		padding: 5px 10px 0 30%;
		border-top: 1px solid #ccc;

		text-align: right;
		font-size: 80%;
	}

	strong{
		text-decoration: underline;
	}

	a{
		color: #491B00;
		text-decoration: none;
		font-weight: 900;
	}

	em{
		font-style: italic;
	}
}